<p id='basics-of-growing'>
	First Time Growing Cannabis
If this is your first time growing, there are a few details that can help you be successful. Understanding what your plants require will maximize their potential. Cannabis plants are photoperiod. Meaning they will flower when the light cycle changes. During early stages and growth stages of your plants life, your lights should be on for at least 18 hours per day. When it’s time for your plants to flower, your lights should be on for no more than 12 hours per day. This mimics the shorter days that occur in the fall if a plant is growing outdoors. 

</p>