<section>
	<p id='tent-kit-lower'>Problems that can occur
Here is a list of some problems you may run into: 
•	Humidity is problematic especially during the flowering stage. Your dense buds will hold moisture creating a ripe place for mold to grow. Not a good thing for your lungs or health of your buds. An exhaust fan can take care of this problem easily. 
•	Smell is often a complaint, nuisance or possibly even a legal issue in some situations. This can be taken care of by combining an exhaust fan and a carbon filter. The filter will remove any smell that might be exhausted into your room, garage or outdoor environment that could unsettle your neighbors. 
•	A simple fan to move the air inside your tent will help you plants breath. Stagnant air will become humid in spots if the air in the tent isn’t moved around. A circulation fan and an exhaust fan work together to keep the environment in your grow tent at the optimum humidity level. 
Our air and humidity kits are equipped to manage any growing situation inside a grow tent.
Some other items needed for a successful grow are included in our ‘Harvest’ and our ‘Nutes (nutrients) & Soil’ kits. For simplicity, we recommend the use of living soil. A living soil has most of what a plant needs for its entire life cycle. Although to maximize a plants potential, adding nutrients and soil microbes throughout a plants life cycle is a must. For first time growers in particular, simpler is better. So we have assembled these kits to get you a firm foundation. Feeding cycles can be the most complex part of cannabis growing and takes years to perfect and understand. This is why we have our ‘Nutes & Soil’ kits complete with feeding instructions. 
</p>
</section>