<p id='tent-kit-top'>MID LEVEL GROW TENT KIT A grow tent set up begins with these three components. For best results we recommend adding our ‘Air and Humidity kit’ to maximize the potential of your plants. While you can grow cannabis with just a tent kit, most will find the growing conditions won’t be inducive to the dankest bud you have ever smoked. 
	Our mid level and up grow kits are not the cheapest on the market. They do contain quality components that are proven to last a produce those dank buds we all crave. In addition, we provide the support and info you need for a successful grow. Give us a call during business hours for your answers. We have chosen AC Infinity products along side Gro Pros LED lighting because of their superior quality and reasonable price points. 
Refer below for more information. 
 
</p>