<p id='tent-kit-top'>MID LEVEL GROW TENT KIT A grow tent set up begins with these three components. For best results we recommend adding our ‘Air and Humidity kit’ to maximize the potential of your plants. While you can grow cannabis with just a tent kit, most will find the growing conditions won’t be inducive to the dankest bud you have ever smoked. 
Refer below for more information. 
</p>