<h1>First App Block</h1>

{% schema %}
	{
		"name": "App Block",
		"tag": "div",
		"settings": {},
		"blocks": {
			"kit-block": {
				"type": "div",
				"settings": {
					
				}
			}

		}

	}
{% endschema %}