{% layout 'theme.adding-prices-testing' %}
{%- comment -%} This is a section {%- endcomment -%}

<h1>Adding Prices Testing</h1>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
