
{%- comment -%} This is a section {%- endcomment -%}

<h1>Adding Prices Testing</h1>

{% schema %}
  {
    "name": "Adding Prices Testing",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
