<h2>{{ section.settings.title }}</h2>

<img src="{{ section.settings.page_image | img_url: '200px' }}" />


{% schema %}
	{
		"name": "Document Title",
		"tag": "aside",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "title"
			},
			{
				"type": "image_picker",
				"id": "page_image",
				"label": "Page Image"
			}
		]
	}
{% endschema %}