<h1>{{ section.settings.title }}</h1>

<h1>Testing discount page</h1>

{% schema %}
	{
		"name": "Document Title",
		"tag": "aside",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "title"
			}
		]
	}
{% endschema %}