
<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>


  	<h1 id='total'></h1>
  	<h1>Javascript: --- {{ collection }}</h1>
</div>

<script>
  function load() {
    let javaSku = '{{sku}}';
    console.log('sku', javaSku );
    document.getElementById('total').innerHTML = javaSku;
  }
  window.onload = load();
</script>

{% schema %}
	{
		"name": "Kit Title",
		"tag": "aside",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}
{% javascript %}
    let collection  = document.getElementsByTagName("h3");
    console.log( collection[0].innerHTML );
    console.log(collection.length);
	console.log('hi hit hit');

	
   	
{% endjavascript %}

