
<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>

  	<h1>Total TOp: {{ total }}</h1>
</div>

<h1>Testing Title: --- {{ prod.title }}</h1>

{% assign acc = 0 %}

{% for i in (1..10) %}
	{% assign acc = acc | plus: 1 %}
	{% if acc == 5 %}
		{% break %}
	{% endif %}
<p>Accumulator: --- {{ acc }}</p>
{% endfor %}

<script>
  function loadFunction() {
    let collection  = document.getElementsByTagName("h3");
    console.log( collection.item(0) );
    let arr = Array.from(collection);
    console.log( 'Output: ---', arr, collection )
  }
  window.onload = loadFunction();
  
</script>

{% schema %}
	{
		"name": "Kit Title",
		"tag": "aside",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}
