<h1>Total: here</h1>

{% schema %}
	{
		"name": "Build Kit Template",
		"tag": "aside",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}
