<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>
  	<h1 id='total' style="text-align: center; font-size: 2vw; font-weight: bold; color: black;"></h1>
</div>

{% assign sku = settings.blocks.product_sku %}
{% assign prod = block.settings.product %}

<h1>Title: --- {{ prod.title }}</h1>


{% schema %}
	{
		"name": "Kit Title",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		],
			"name": "Product", 
			"blocks": [
              {
                  "name": "Product-Info",
                  "type": "product",
                  "settings": [
                      {	
                      "id": "title",
                      "type": "text",
                      "label": "title"
                      },
                      {
                          "type": "text",
                          "id": "product_sku",
                          "label": "Product Sku"
                      },
                      {
                          "type": "product",
                          "id": "product",
                          "label": "Product"
                      }
                  ]
                }
              ],
              "presets": [
                  {
                      "category": "Product",
                      "name": "Build A Kit",
                      "settings": {}
                  }
              ]
	}
{% endschema %}

{% javascript %}

    let collection  = document.getElementsByTagName('h3');
    let price = 0;

    console.log('Collection:', collection);

    for(let i = 0; i < collection.length; i++) {
    	price = price + Number(collection[i].id);
    	console.log(Number(collection[i].id));
    	/*
    	console.log('InnerHTML: ', collection[i].innerHTML);
    	price = 'Total: ' + '$' + (Number(collection[i].id) / 100).toFixed(2);
    	*/
    }
    console.log( 'collection', collection, price );

	
	document.getElementById("total").innerHTML = 'Total: ' + '$' + (Number(price) / 100).toFixed(2);
   	
{% endjavascript %}
