<h1>Beginning of Grow Tent Kit page</h1>

<p>Placeholder for single sku when buidling a kit</p>
<h2>{{ section.settings.title }}</h2>


{% schema %}
	{
		"name": "Document Title",
		"tag": "aside",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "title"
			},
			{
				"type": "image_picker",
				"id": "page_image",
				"label": "Page Image"
			}
		]
	}
{% endschema %}