<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>

  	<h1 id='total'></h1>
</div>

{% assign prod_id = section.settings.product %}
<h1>Product Id: {{ prod_id }}</h1>

{% schema %}
	{
		"name": "Kit Title",
		"tag": "aside",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}

{% javascript %}

    let collection  = document.getElementsByTagName('h3');
    let price = 0;

    for(let i = 0; i < collection.length; i++) {
    	console.log(collection[i].innerHTML);
    	console.log(Number(collection[i].id));
    	price = '$' + (Number(collection[i].id) / 100).toFixed(2);
    }
    console.log( 'collection', collection );

	
	document.getElementById("total").innerHTML = price;
   	
{% endjavascript %}
