{% layout 'theme.lighting' %}

<h1>Lighting Testing</h1>

{% schema %}
  {
    "name": "Lighting",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
