body {
	background-color: black;
}

.lighting-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lightingAd {
	display: flex;
	flex-direction: row;
}

.ledH1 {
	font-size: 2.5vw;
	margin:  auto;
	color: white;
}

.marginLight {
	margin-right: 20px;
}

.centerH2 {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	color:  white;
}

.imageSize {
	width: 300px;
}

section {
	margin:  auto;
}

h2 {
	margin: 10px;
}


/* Lighting type advantages list */

dl {
	text-align: center;
}

dt {
	text-align: left;
	color:  white;
}

#liAdjust {
	margin-left:  40px;
}

li {
	text-align: left;
	margin-left:  20px;
}

.centerP {
	display: flex;
	margin: auto;
	font-size: 2vw;
	width: 95%;
	text-align: center;
}

#types {
	display: flex;
	justify-content: space-evenly;
	width:  70%;
	margin: 1% auto 0 auto;
	background-color: #101010;
	border:  2px #404040 solid;
	border-radius: 10px;
	padding: 10px;
}

@media only screen and (max-width:  600px) {
	.centerP {
		font-size: 3vw;
	}

	.centerH2 {
		font-size: 4.0vw;
		text-align: center;
	}

	#types {
		flex-direction: column;
	}

	dt {
		font-size: 4vw;
	}

	.ledH1 {
		font-size: 5vw;
	}
}

#storyAlign {
	background-color: #101010;
	border: 2px #404040 solid;
	border-radius: 10px;
	width: 80%;
	margin-top: 20px;
}

.container--flush {
	background-color: white;
	padding: 10px 0 10px 0;
}

footer {
	background-color: white;
}