body {
	background-color: black;
}

.lighting-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lightingAd {
	display: flex;
	flex-direction: row;
}

.ledH1 {
	font-size: 2.5vw;
	margin:  auto;
}

.marginLight {
	margin-right: 20px;
}

.centerH2 {
	display: flex;
	justify-content: center;
	font-size: 2vw;
}

.centerP {
	display: flex;
	margin: auto;
	font-size: 1.5vw;
	width: 70%;
	text-align: center;
}

.imageSize {
	width: 300px;
}

section {
	margin:  auto;
}



h2 {
	margin: 10px;
}


/* Lighting type advantages list */

dl {
	text-align: center;
}

dt {
	text-align: left;
}

#liAdjust {
	margin-left:  40px;
}

li {
	text-align: left;
	margin-left:  20px;
}

#types {
	width:  40%;
	margin: auto;
}