body {
	background-color: black;
}

.lighting-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ledH1 {
	font-size: 2.5vw;
	margin:  auto;
}

#center {
	text-align: center;
	font-size: 3vw;
}

img {
	width: 200px;
}

section {
	margin:  auto;
}

.container {
	display: flex;
}

h2 {
	margin: 10px;
}